@model IEnumerable<Hotel.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.room_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.room_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.room_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.room_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.room_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
