@model Hotel.Models.Consumption

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consumption</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guest.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.service.BS_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.con_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.con_Amount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="con_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
