@model Hotel.Models.Consumption

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumption</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guest.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.service.BS_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.con_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.con_Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.con_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
