@model Hotel.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guest.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodation_days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accommodation_days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumption_Charges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumption_Charges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pay_method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pay_method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paid_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paid_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.payment_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
